<h1>Itrace</h1> 
<h2>Login</h2>
  
<form action="/login" method="POST"> 
    <input type="text" name="username"
        placeholder="username"> 
        <br>
        <br>
    <input type="password" name="password" 
        placeholder="password"> 
        <br>
        <br>
    <button>login</button> 
</form> 
  

<h1>Itrace</h1> 
<h2>Home Page</h2>
  
<li><a href="/register">Sign up!!</a></li> 
<li><a href="/login">Login</a></li> 
<li><a href="/logout">Logout</a></li> 
